*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color: #444;
    padding-top: 60px;
}
.header{
    height: 60px;
    width: 100%;
    background: -webkit-linear-gradient(left, #14b66a, #54f5aa);
    position: fixed;
    top: 0;
}
.main{
    width: 800px;
    border: 1px dotted white;
    height: 4000px;
    margin: 0 auto 0 auto;
    position: relative;

}
.cuadrado{
    width: 100px;
    height: 100px;
    border: 1px solid #ee9a55;
    position: relative;
    top: 8px;
    left: calc(100% - 100px);
}
.cuadrado2{
    width: 100px;
    height: 100px;
    border: 1px solid #4f4da5;
    
    top: 8px;
}
.circulo{
    width: 100px;
    height: 100px;
    border: 1px solid#ff9bf2;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.parrafo{
    color: white;
}
.boton-crear{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #befdbe;
    position: fixed;
    right: 20px;
    bottom: 20px;
}